<ion-view title="Home" ng-init="list()">

  <ion-nav-buttons side="right">
    <button class="right button button-icon icon ion-plus" ng-click="newPlaylist()"></button>
  </ion-nav-buttons>
  <ion-content>


    <ion-list
              show-delete="true"
              show-reorder="true"
              can-swipe="true">
      <ion-item ng-repeat="p in data.playlists">


        <h2>{{p.title}}</h2>
        <p>{{item.description}}</p>
        <ion-option-button class="button-positive"
                           ng-click="share(item)">
          Share
        </ion-option-button>
        <ion-option-button class="button-info"
                           ng-click="edit(item)">
          Edit
        </ion-option-button>
        <ion-delete-button class="ion-minus-circled"
                           ng-click="items.splice($index, 1)">
        </ion-delete-button>
        <ion-reorder-button class="ion-navicon"
                            on-reorder="reorderItem(item, $fromIndex, $toIndex)">
        </ion-reorder-button>

      </ion-item>
    </ion-list>


  </ion-content>
</ion-view>
